/* Coolors Exported Palette - coolors.co/73c850-e0de25-713e98-40baff-ff3e49 */

/* HSL */
$color1: hsla(103%, 52%, 55%, 1);
$color2: hsla(59%, 75%, 51%, 1);
$color3: hsla(274%, 42%, 42%, 1);
$color4: hsla(202%, 100%, 63%, 1);
$color5: hsla(357%, 100%, 62%, 1);

/* RGB */
$color1: rgba(115, 200, 80, 1);
$color2: rgba(224, 222, 37, 1);
$color3: rgba(113, 62, 152, 1);
$color4: rgba(64, 186, 255, 1);
$color5: rgba(255, 62, 73, 1);