body{
  font-family: 'IM Fell DW Pica', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Seaweed Script', cursive;
}

.rune-list{
  display: flex;
  flex-direction: row;
}

.rune {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

.home-content {
    background: url(./assets/landscape.jpg) no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
}

.page-header {
  display: flex;
  justify-content: center;
  margin-right: 300px;
  margin-top: 150px;
}

.sub-header {
  display: flex;
  justify-content: center;
  margin-right: 90px;
}

.username-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 110px;
  margin-top: 100px;
}

input {
  /* This should have a grey somewhat transparent
  field and white text. Or just an underline
  with an x before it */
}