body{
  background: url('../images/typewriter.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Special Elite', cursive;
}

label {
  margin-top: 5px;
  margin-right: 5px;
}

input {
  height: 15px;
  border: 0px;
  outline: 0px;
  background: transparent;
  border-bottom: 1px solid black;
  padding: 3px;
}

.page-title {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 110px;
}

.title-text {
  font-size: 4em;
  margin-bottom: 0px;
}

.title-sub-text {
  max-width: 370px;
  margin-left: 92px;
  flex-wrap: wrap;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.item-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.input-submit {
  border-bottom: 0;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.item-title {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.complete-button {
  align-self: center;
  height: 25px;
  background: transparent;
  border: 1px solid black;
  border-radius: 4px;
}